[ req ]
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
req_extensions = v3_req
string_mask = utf8only

[ req_distinguished_name ]
countryName_default = LU
stateOrProvinceName_default = Belval
localityName_default = Belval
organizationName_default = 42
commonName_default = prometheus

[ v3_req ]
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = prometheus
DNS.2 = localhost