#achievements-card {
	height: 100%;
	width: 60%;
}

#achievements-content {
	display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
	gap: 20px;
}

.cheevo {
	height: 5.5rem;
	width: 45%;
	display: flex;
	border-radius: 6rem;
	align-items: center;
	background-color: var(--selector-color);
	border: 2px solid var(--header-disabled-color);
}

.cheevo-container {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
	margin-left: 1%;
}

.cheevo-icon {
	border-radius: 50%;
	background-color: var(--primary-color);
	border: 2px solid var(--header-disabled-color);
	border-left: none;
	text-align: center;
	width: 5.5rem;
	height: 5.5rem;
	display: flex;
	justify-content: center;
    align-items: center;
	font-size: 2rem;
	color: var(--hover-color);
}

.cheevo-title {
	font-weight: 600;
}

.cheevo-body {
	font-weight: 400;
}

.cheevo-row {
	width: 360px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.progress-bar {
	width: 15rem;
	height: 20px;
	background: var(--hover-color);
	position: relative;
	border-radius: 20px;
	border: 2px solid var(--primary-color);
}

.progress-bar-percentage {
	background-color: var(--primary-color);
	color: #FFF;
	text-align: center;
	height: 20px;
}

.progress-bar-percentage span {
	display: inline-block;
	position: absolute;
	width: 15rem;
	left: 0;
	bottom: -0.2rem;
	font-weight: 600;
}

.cheevo-unlock-txt {
	font-size: 0.8rem;
	display: flex;
	position: relative;
    justify-content: center;
    align-items: center;
	left: 0.2rem;
	bottom: 0.05rem;
}

.all-rounded {
	border-radius: 5px;
}

.cheevo-reward {
	background-color: white;
	border: 3px solid black;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
}

.cheevo.success .cheevo-icon {
	color: yellow;
	text-shadow: 0 0 5px yellow;
	border-color: yellow;
}

.cheevo.success  {
	border-color: yellow;
	box-shadow: 0 0 5px yellow;
}

.cheevo.success .progress-bar-percentage span {
	color: yellow;
}

.tooltip {
	position: relative;
    opacity: 0;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    transition: opacity 0.6s;
	margin-top: -50px;
	margin-left: -50px;
}

.cheevo-reward:hover .tooltip {
    opacity: 1; /* Make it visible when hovered */
}