.all-rounded {
	border-radius: 5px;
}

.spacer {
	display: block;
}

#progress-bar {
	width: 200px;
	background: rgb(131, 1, 1);
	position: relative;
}

#progress-bar-percentage {
	background: rgb(7, 85, 7);
	padding: 5px 0px;
	color: #FFF;
	text-align: center;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#progress-bar-percentage span {
	/* bottom: -4px; */
	font-size: 1.75rem;
	display: inline-block;
	position: absolute;
	width: 100%;
	left: 0;
}
